<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
        <!-- browser platform check start -->
        <script>const platform=function(){var a=navigator.oscpu,i=navigator.platform,n=navigator.userAgentData&&navigator.userAgentData.platform;return a&&a.includes("Windows")||i&&i.includes("Win32")||n&&n.includes("Windows")?"Win":a&&a.includes("Mac OS")||i&&i.includes("MacIntel")||n&&n.includes("macOS")?"Mac":void 0}(),isSafari="Apple Computer, Inc."===navigator.vendor,isLowPixelRatio=window.devicePixelRatio<1.5;"Win"===platform&&document.documentElement.classList.add("platform-win"),isSafari&&document.documentElement.classList.add("browser-safari"),isLowPixelRatio&&document.documentElement.classList.add("pixel-ratio-low");</script>
        <!-- browser platform check end -->
        <%- injectMeta %> <%- injectLink %> <%- injectStyle %> <%- injectScript
        %>
    </head>
    <body>
        <div id="app"></div>
        <script type="module" src="/src/main.ts"></script>
        <%- injectMoreScripts %>
    </body>
</html>
